body{
  background-color: #cccccc;
}

#header {
  background-color: #b3d4fc;
  color:white;

  padding:5px;
}

#center p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#nav {
  line-height:30px;
  background-color:#f1f1f1;
  width:100px;
  float:left;
  padding:0px;
  list-style-type: none;
  margin: 0;
  height: unset;
}
#section {
  width:350px;
  float:left;
  padding:10px;
}
#footer {
  background-color:black;
  color:white;
  clear:both;
  text-align:center;
  padding:5px;
}
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #555;
  color: white;
}
